---
import Hero from "../components/Hero.astro";
import SubscriptionBox from "../components/SubscriptionBox.astro";
import Card from "../components/CardSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Flare is the blockchain for data">
  <main>
    <Hero />
    <Card />
    <SubscriptionBox />
  </main>
</Layout>