---
import Hero from "../components/Hero.astro";
import SocialLinks from "../components/SocialLinks.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Flare is the blockchain for data">
	<main>
		<Hero />
		<SocialLinks />
	</main>
</Layout>