<section>
  <div class="w-full h-full">
    <img
      src="https://flare.network/wp-content/uploads/Flare_community_banner_2-1.jpg"
      alt="Banner Image"
      class="w-full h-full overflow-hidden"
    />
  </div>
</section>
