---
import SocialLinks from "./SocialLinks.astro";
---

<footer class="bg-gradient-to-t pt-6 pb-3 mt-3 px-4 from-[#E62058]/30 text-white">
  <div class="flex justify-between items-center">
    <div class="flex flex-col">
      <img
        src="https://flare.network/wp-content/uploads/Artboard-1-1.svg"
        alt="footer logo"
        style="color: white;"
        class="max-w-[99px] h-auto text-white"
      />
      <p>© 2021, Built with Astro</p>
    </div>
    <div class="flex justify-between items-center space-x-8 text-sm text-white">
        <a href="/ptivacy-policy">Term & Conditions</a>
        <a href="/media">Media & Branding</a>
        <a href="/team">Team</a>
    </div>
    <SocialLinks />
  </div>
</footer>
