---
import SocialLinks from "./SocialLinks.astro";
---

<footer
  class="bg-gradient-to-t from-[#E62058]/30 pt-6 pb-3 mt-3 px-4 text-center text-white"
>
  <div
    class="flex flex-col md:flex-row justify-between items-center max-w-[1280px] mx-auto py-6"
  >
    <div>
      <img
        src="https://flare.network/wp-content/uploads/Artboard-1-1.svg"
        alt="footer logo"
        style="color: white;"
        class="w-24 h-auto text-white"
      />
    </div>
    <div class="flex justify-between items-center space-x-8 text-sm text-white">
      <p>© 2021, Built with Astro</p>
      <a href="/ptivacy-policy">Term & Conditions</a>
      <a href="/media">Media & Branding</a>
      <a href="/team">Team</a>
    </div>
    <div class="hidden md:block">
      <SocialLinks />
    </div>
  </div>
</footer>
