
<main>
  <div class="capitalize text-center mt-6 font-monteserrat">
    <h1
      class="font-semibold text-nowrap py-4 text-3xl mdl:text-8xl md:text-9xl mt-[120px] bg-gradient-to-r from-blue-500/70 via-purple-500/70 to-pink-500/70 bg-clip-text text-transparent"
    >
      Collect everything.
    </h1>
    <p
      class="mt-2 sm:mt-4 p-2 max-w-[70%] mx-auto text-[12px] sm:text-[18px] md:text-[25px] font-semibold bg-gradient-to-r from-blue-500/70 via-purple-500/70 to-pink-500/70 bg-clip-text text-transparent"
    >
      Flare is the blockchain for data, providing developers with secure
      decentralized access to high-integrity data from other chains and the
      internet.
    </p>

    <div class="flex flex-col md:flex-row justify-center items-center md:space-x-6 w-full px-auto mt-6">
      <button class="border border-black hover:bg-black hover:text-white duration-200 cursor-pointer rounded-full w-[180px] px-3 py-3">
        Learn More
      </button>

      <button class="border bg-[#E62058] text-white rounded-full w-[180px] mt-4 sm:mt-0 px-3 py-3 cursor-pointer">
        Start Building
      </button>
    </div>
  </div>
</main>