<section class="my-4 p-3 font-monteserrat">
  <div>
    <div class="flex justify-center items-center">
      <div class="w-1/2">
        <h2 class="text-3xl md:text-4xl text-nowrap font-medium text-center">Who's in the Flare ecosystem?</h2>
        <p class="text-center text-[#9B9B9B] mt-2 text-lg">
          We work with the best companies to provide you with the best services.
        </p>
      </div>
    </div>
    <div class="flex justify-center items-center mt-8">
      <div class="w-1/2">
        <div class="flex justify-center items-center">
          <div class="w-1/5">
            <img
              src="https://flare.network/wp-content/uploads/LayerZero.png"
              alt="layerZero"
              class="w-full"
            />
          </div>
          <div class="w-1/5">
            <img src="/images/logo2.png" alt="Logo 2" class="w-full" />
          </div>
          <div class="w-1/5">
            <img src="/images/logo3.png" alt="Logo 3" class="w-full" />
          </div>
          <div class="w-1/5">
            <img src="/images/logo4.png" alt="Logo 4" class="w-full" />
          </div>
          <div class="w-1/5">
            <img src="/images/logo5.png" alt="Logo 5" class="w-full" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-8">
    <button
      class="border bg-[#E62058] text-white rounded-full w-[180px] mt-4 md:mt-6 sm:mt-0 p-3 cursor-pointer mx-auto"
      >Start Building</button
    >
  </div>
</section>
