<nav class="max-w-[1280px] mx-auto mt-4 capitalize">
  <div class="flex justify-between items-center">
    <img
      sizes="(max-width: 600px) 50vw, 
         (max-width: 1200px) 25vw, 
         15vw"
      src="https://flare.network/wp-content/uploads/Artboard-1-1.svg"
      alt="logo"
      style="max-width: 99px; height: auto;"
    />
    <!-- nav-menu -->
    <div class="flex items-center justify-between w-[63%]">
      <ul
        class="flex items-center space-x-6 text-base]"
      >
        <li>learn</li>
        <li>build</li>
        <li>use</li>
        <li>operate</li>
        <li>connect</li>
        <li>news</li>
      </ul>

      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-search"
          ><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"
          ></path></svg
        >
      </div>

      <button
        class="flex items-center justify-center space-x-4 border border-black rounded-full px-4 py-3"
      >
        developer hub
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-move-up-right"
          ><path d="M13 5H19V11"></path><path d="M19 5L5 19"></path></svg
        >
      </button>
    </div>
  </div>
</nav>
